.left-content
  .user-box
    %p
      =current_user.name
    = link_to(fa_icon("cog"),edit_user_path(current_user.id))
    = link_to(fa_icon("edit"),new_group_path)
  .group-box
    = render partial:'shared/group-box'
