-current_user.groups.each do |group|
  -# = link_to group_messages_path(group) do

  = link_to group_messages_path(group) do
    .group-box__name
      =group.name
    .group-box__message
      =group.show_last_message
