$right-content-padding: 0 40px;
$left-content-padding:0 20px;

$font-color-white:#FFFFFF;
$font-color-grey:#999999;
$font-color-darkgrey: #434A54;

$right-background-color:#D9E6F4;
$button-color: #38AEF0;

